body{
    background-image: url("Photos/aboutbg.png");
    background-size: 40%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}
h1{
    color: rgb(60, 179, 113), blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    margin-top: -50px;
    margin-bottom: 30px;
}

.homepage-content{
    color: rgb(0, 0, 0);
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-style: italic;
    line-height: 1.5;
    padding: 5px;
    border-radius: 10px;
}.header {
    overflow: hidden;
    background-color: rgb(33, 117, 7);
    /*padding: 20px 10px;*/
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(88, 3, 3);
    color: White;
  }
  
  .header a.active {
    background-color: rgb(54, 54, 1);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 245, 125);
    color: rgb(13, 151, 75);
    text-align: center;
  }
  #content{
    color: maroon;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }

  .about-me{
    display: flex;
    align-items: center;
    gap: 40px;

    margin-top: 50px;
    margin-left: 80px;
}

.profile-pic{
    width: 250px;
    height: 250px;
    object-fit: cover;

    border-radius: 50%;
    border: 5px solid #2f8f00;
}

.about-text h1{
    font-size: 55px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #183a1d;
    text-align: left;
}

.subtitle{
    font-size: 25px;
    font-style: italic;
    color: #434141;
    margin-top: 20px;
    text-align: left;
}

.description{
    font-size: 20px;
    line-height: 1.7;
    align-self: center;
    max-width: 1100px;
}

.personal-info{
    margin-top: 35px;

    background-color: white;
    padding: 25px 30px;

    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.15);

    width: 90%;
}

.personal-info{
    margin: 10px auto 20px auto;
    margin-left: 380px;


    background: rgba(255,255,255,0.85);
    border-left: 6px solid #2f8f00;

    padding: 10px 20px;
    border-radius: 5px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.12);

    width: 30%;
}

.info-row{
    display: flex;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: left;
}

.label{
    width: 180px;
    font-weight: bold;
    color: #1d4d2a;
    font-size: 20px;
    text-align: left;
}

.value{
    color: #333;
    font-size: 20px;
}

.contact-info{
    margin: 10px auto 20px auto;
    margin-left: 380px;

    background: rgba(255,255,255,0.85);
    border-left: 6px solid #2f8f00;

    padding: 10px 20px;
    border-radius: 5px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    margin-top: 50px;
    width: 30%;
}

.contact-info h3{
    text-align: center;
    color: #1d4d2a;
    margin-left: 20px;
}

.education{
    background: rgba(255,255,255,0.9);
    padding: 5px 10px;
    border-radius: 5px;
    border-left: 6px solid #2f8f00;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    width: 30%;
    margin: 10px auto 20px auto;
    margin-left: 920px;
    margin-top: -440px;
}

.education h2{
    color: #1d4d2a;
    margin-bottom: 8px;
    margin-top: 8px;
}

.timeline{
    position: relative;
    margin-left: 20px;
}

.timeline::before{
    content: "";
    position: absolute;

    left: 20px;
    top: 0;
    bottom: 0;

    width: 3px;
    background: #2f8f00;
}

.timeline-item{
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

.timeline-dot{
    position: absolute;

    left: -2px;
    top: 0px;

    width: 20px;
    height: 20px;

    background: #2f8f00;
    border-radius: 50%;
}

.timeline-content h3{
    color: #2f8f00;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.timeline-content h4{
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 5px;
    font-size: 20px;
}

.timeline-content p{
    margin: 4px 0;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.details-container{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.skills-panel{
    width: 220px;

    background: rgba(255,255,255,0.9);
    margin: 10px auto 20px auto;
    margin-top: -450px;
    margin-left: 70px;
    padding: 10px 20px;

    border-radius: 5px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.12);

    border-left: 6px solid #2f8f00;
}
 
}
.skills-panel h3{
    text-align: center;
    color: #1d4d2a;
    margin-bottom: -10px;
}

.skills-panel ul{
    list-style: none;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 3px;
}

.skills-panel li{
    padding: 8px 0;
    font-size: 17px;
    margin-top: 1px;
    margin-bottom: 1px;
}