body{
    background-image: url("Photos/homepage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: beige;
}
h1{
    color: rgb(60, 179, 113), blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    margin-top: -300px;
    margin-bottom: 40px;
}

.homepage-content{
    color: rgb(0, 0, 0);
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-style: italic;
    line-height: 1.5;
    padding: 5px;
    border-radius: 10px;
}.header {
    overflow: hidden;
    background-color: rgb(33, 117, 7);
    /*padding: 20px 10px;*/
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(88, 3, 3);
    color: White;
  }
  
  .header a.active {
    background-color: rgb(54, 54, 1);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 245, 125);
    color: rgb(13, 151, 75);
    text-align: center;
  }
  #content{
    color: maroon;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }

  .buttons{
    text-align: center;
    margin-top: 40px;
}

.btn{
    position: relative;
    width: 150px;
    left: 100px;
    bottom: -300px;
    display: inline-block;
    padding: 12px 24px;
    margin: 30px;
    background-color: #1f6b00;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn:hover{
    background-color: #2f8f00;
    transform: translateX(8px) scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}